<div class="row">
    <div class="row-title">
        <label>Title</label>
    </div>

    <div class="row-verse">
        <app-textbox [(Value)]="txtTitle" ToolTip="Título de la tarea" />
    </div>
</div>
<div class="row">
    <div class="row-title">
        <label>Description</label>
    </div>
    <div class="row-verse">
        <app-textbox [(Value)]="txtDescription" ToolTip="Descripción de la tarea" />
    </div>
</div>

<app-button Label="Add Task" [isPrimary]="true" (onClick)="AddTask()" />
<div *ngIf="message">{{ message }}</div>

<div class="row">
    <div class="row-title">
        <h2>Title</h2>
    </div>
    <div class="row-verse">
        <h2>Description</h2>
    </div>
</div>
<div *ngFor="let task of tasks" class="row">
    <div class="row-title">
        <h3>{{ task.title }} ({{ task.status }})</h3>
    </div>
    <div class="row-verse">
        <p>{{ task.description }}</p>
    </div>

    <app-button Label="Details" (onClick)="ShowTask(task.taskCode)" />
</div>