<app-button (onClick)="Logout()" Label="Logout"></app-button>

<div>
    <app-button Label="Add" [isPrimary]="true" (onClick)="AddTask()" />
    <label>Title</label>
    <app-textbox [(Value)]="txtTitle" />
    <label>Description</label>
    <app-textbox [(Value)]="txtDescription" />

    <div *ngFor="let task of tasks">
        <h3>{{ task.title }} ({{ task.status }})</h3>
        <p>{{ task.description }}</p>

        <ul>
            <li *ngFor="let comment of task.comments">
                {{ comment.comment }} ({{ comment.userName }})
            </li>
        </ul>
    </div>

    <div *ngIf="message">{{ message }}</div>
</div>